.about {
  display: flex;
  width: fit-content;
  margin: auto;
  flex-direction: column;
  align-items: end;
  margin-top: 15%;
  .name-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    #name {
      font-size: 8rem;
      font-weight: 400;
    }
    #surname {
      font-size: 3rem;
      font-weight: 300;
    }
  }
  .desc {
    font-size: 1.5rem;
    font-weight: 300;
    #itu {
      color: #DAA520;
    }
  }
  .links {
    margin-top: 15px;
    display: flex;
    width: fit-content;
    gap: 7px;
    .link-icon {
      width: 30px;
      &[src="icons/github-icon.svg"] {
        width: 28px;
      }
    }
  }
}
