.about {
  display: flex;
  height: 50vh;
  // width: 50%;
  margin: auto;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  margin-top: 15%;
  gap: 15px;
  .name-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    #name {
      font-size: 9rem;
      font-weight: 400;
    }
    #surname {
      font-size: 4rem;
      font-weight: 300;
    }
  }
  .desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110px;
    .link-icon {
      width: 50px;
      &[src="icons/github-icon.svg"] {
        width: 80%;
      }
    }
  }
}
